<div>
    <form class="form-horizontal" ng-submit="addStudent(student)">
        <div class="control-group">
            <label class="control-label" for="firstName">First Name</label>
            <div class="controls">
                <input type="text" id="firstName" ng-model="student.firstName" placeholder="First Name" required>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="lastName">Last Name</label>
            <div class="controls">
                <input type="text" id="lastName" ng-model="student.lastName" placeholder="Last Name" required>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button class="btn btn-primary" type="submit" >Save</button>
            </div>
        </div>
    </form>
    <h3>Student List</h3>
    <div class="alert alert-info" ng-show="students.length == 0">
        No student found
    </div>
    <table class="table table-bordered table-striped"  ng-show="students.length > 0">
        <thead>
        <tr>
            <th style="text-align: center;">First Name</th>
            <th style="text-align: center;">Last Name</th>
            <th style="text-align: center;">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="student in students">
            <td  style="text-align: center"> <span>{{student.firstName}}</span></td>
            <td  style="text-align: center"> <span>{{student.lastName}}</span></td>
            <td  style="text-align: center"><button class="btn btn-danger" ng-click="removeStudent(student)">Delete</button></td>
        </tr>
        </tbody>
    </table>
</div>
